.bar {
    font-size: 18px!important;
    width: 100%;
    text-align: left!important;
    overflow: hidden
}

.bar .bar-item {
    padding: 8px 16px;
    float: left;
    color: white;
    text-decoration: none;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

.bar .bar-item.active {
    background-color: #fff!important;
    color: #000!important
}

.bar .bar-item:hover {
    color: #000!important;
    background-color: #fff!important
}